In [1]:
from datasets import load_dataset, get_dataset_config_names
import pandas as pd

f:\LIVE_CLASS\FSDS_FEB\codebase\FSDS-NER-Project\env\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
ner_data_subset = get_dataset_config_names("xtreme")

In [3]:
len(ner_data_subset)

183

In [4]:
panx_subests = [s for s in ner_data_subset if s.startswith("PAN")]
panx_subests

['PAN-X.af',
 'PAN-X.ar',
 'PAN-X.bg',
 'PAN-X.bn',
 'PAN-X.de',
 'PAN-X.el',
 'PAN-X.en',
 'PAN-X.es',
 'PAN-X.et',
 'PAN-X.eu',
 'PAN-X.fa',
 'PAN-X.fi',
 'PAN-X.fr',
 'PAN-X.he',
 'PAN-X.hi',
 'PAN-X.hu',
 'PAN-X.id',
 'PAN-X.it',
 'PAN-X.ja',
 'PAN-X.jv',
 'PAN-X.ka',
 'PAN-X.kk',
 'PAN-X.ko',
 'PAN-X.ml',
 'PAN-X.mr',
 'PAN-X.ms',
 'PAN-X.my',
 'PAN-X.nl',
 'PAN-X.pt',
 'PAN-X.ru',
 'PAN-X.sw',
 'PAN-X.ta',
 'PAN-X.te',
 'PAN-X.th',
 'PAN-X.tl',
 'PAN-X.tr',
 'PAN-X.ur',
 'PAN-X.vi',
 'PAN-X.yo',
 'PAN-X.zh']

In [9]:
en = load_dataset("xtreme", name="PAN-X.en")

Reusing dataset xtreme (C:\Users\sunny\.cache\huggingface\datasets\xtreme\PAN-X.en\1.0.0\349258adc25bb45e47de193222f95e68a44f7a7ab53c4283b3f007208a11bf7e)
100%|██████████| 3/3 [00:00<00:00, 333.36it/s]

In [11]:
en

DatasetDict({
    train: Dataset({
        features: ['tokens', 'ner_tags', 'langs'],
        num_rows: 20000
    })
    validation: Dataset({
        features: ['tokens', 'ner_tags', 'langs'],
        num_rows: 10000
    })
    test: Dataset({
        features: ['tokens', 'ner_tags', 'langs'],
        num_rows: 10000
    })
})

In [13]:
pd.DataFrame(en["train"][0]).T

            0         1   2    3         4      5   6   7    8   9   10
tokens    R.H.  Saunders   (  St.  Lawrence  River   )   (  968  MW   )
ner_tags     3         4   0    3         4      4   0   0    0   0   0
langs       en        en  en   en        en     en  en  en   en  en  en

In [25]:
en["train"].features["ner_tags"].feature.names

['O', 'B-PER', 'I-PER', 'B-ORG', 'I-ORG', 'B-LOC', 'I-LOC']

In [26]:
pd.DataFrame(en["train"])

,tokens,ner_tags,langs
0,"[R.H., Saunders, (, St., Lawrence, River, ), (...","[3, 4, 0, 3, 4, 4, 0, 0, 0, 0, 0]","[en, en, en, en, en, en, en, en, en, en, en]"
1,"[;, ', '', Anders, Lindström, '', ']","[0, 0, 0, 1, 2, 0, 0]","[en, en, en, en, en, en, en]"
2,"[Karl, Ove, Knausgård, (, born, 1968, )]","[1, 2, 2, 0, 0, 0, 0]","[en, en, en, en, en, en, en]"
3,"[Atlantic, City, ,, New, Jersey]","[5, 6, 6, 6, 6]","[en, en, en, en, en]"
4,"[Her, daughter, from, the, second, marriage, w...","[0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, ...","[en, en, en, en, en, en, en, en, en, en, en, e..."
...,...,...,...
19995,"[Cicely, Courtneidge, ,, Ernest, Truex]","[1, 2, 0, 1, 2]","[en, en, en, en, en]"
19996,"[Aracaju, ,, Sergipe, ,, Brazil]","[5, 0, 5, 0, 5]","[en, en, en, en, en]"
19997,"[Louisville, in, the, American, Civil, War]","[5, 6, 6, 6, 6, 6]","[en, en, en, en, en, en]"
19998,"[16, (, David, Nugent, )]","[0, 0, 1, 2, 0]","[en, en, en, en, en]"
19999,"[List, of, regional, mammals, lists]","[3, 4, 4, 4, 4]","[en, en, en, en, en]"

In [27]:
pd.DataFrame(en["test"])

,tokens,ner_tags,langs
0,"[Shortly, afterward, ,, an, encouraging, respo...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, ...","[en, en, en, en, en, en, en, en, en, en, en, e..."
1,"[:, Kanye, West, featuring, Jamie, Foxx, —, ``...","[0, 1, 2, 0, 1, 2, 0, 0, 3, 4, 0, 0, 0, 0]","[en, en, en, en, en, en, en, en, en, en, en, e..."
2,"[Blacktown, railway, station]","[3, 4, 4]","[en, en, en]"
3,"['', Mycalesis, perseus, lalassis, '', (, Hewi...","[0, 5, 6, 6, 0, 0, 0, 0, 0, 0]","[en, en, en, en, en, en, en, en, en, en]"
4,"[Jonny, Lee, Miller, -, Eli, Stone, '']","[1, 2, 2, 0, 3, 4, 0]","[en, en, en, en, en, en, en]"
...,...,...,...
9995,"[Tony, Stewart, ', '', (, PC4, ), ', '']","[1, 2, 0, 0, 0, 0, 0, 0, 0]","[en, en, en, en, en, en, en, en, en]"
9996,"[Maryland, Route, 472]","[3, 4, 4]","[en, en, en]"
9997,"[Renton, ,, Washington]","[5, 6, 6]","[en, en, en]"
9998,"[He, served, as, a, member, of, the, South, Ea...","[0, 0, 0, 0, 0, 0, 0, 3, 4, 4, 0]","[en, en, en, en, en, en, en, en, en, en, en]"
9999,"[|, align=left|, Free, Australia, Party]","[0, 0, 3, 4, 4]","[en, en, en, en, en]"

In [28]:
pd.DataFrame(en["validation"])

,tokens,ner_tags,langs
0,"[Sioux, Falls, Arena, (, Sioux, Falls, ,, Sout...","[3, 4, 4, 0, 5, 6, 6, 6, 6, 0]","[en, en, en, en, en, en, en, en, en, en]"
1,"[George, Randolph, Hearst, ,, Jr, .]","[1, 2, 2, 2, 2, 2]","[en, en, en, en, en, en]"
2,"[Conch, Key, ,, Florida]","[5, 6, 6, 6]","[en, en, en, en]"
3,"[Fairground]], '', by, Simply, Red, '', Bad, R...","[0, 0, 0, 3, 4, 0, 3, 4, 0, 0, 1, 2]","[en, en, en, en, en, en, en, en, en, en, en, en]"
4,"[The, Game]], ,, Ice, Cube, ,, Dr., Dre]","[0, 0, 0, 1, 2, 0, 1, 2]","[en, en, en, en, en, en, en, en]"
...,...,...,...
9995,"[Middleborough, ,, Massachusetts]","[5, 6, 6]","[en, en, en]"
9996,"['', Kalmar, Union, '', ']","[0, 5, 6, 0, 0]","[en, en, en, en, en]"
9997,"[At, the, end, of, November, ,, it, became, pa...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 4, 0]","[en, en, en, en, en, en, en, en, en, en, en, e..."
9998,"[**, County, of, Bentheim-Steinfurt, –, Karl, ...","[0, 3, 4, 4, 0, 3, 4, 4, 0, 0, 0]","[en, en, en, en, en, en, en, en, en, en, en]"
9999,"[Tomb, Raider, :, Definitive, Edition, '']","[3, 4, 4, 4, 4, 0]","[en, en, en, en, en, en]"